@page
@model ProgulkaProject.Views.Shared.HeaderPartialModel
@{

    <div class="content-block">
        <header class="user-profile">
            <div class="user-info">
                <h2 class="user-name">Даниил Ильин</h2>
                <h3 class="user-simple-id">danyi</h3>
                <div class="user-short-info">
                    <h4> 21 </h4>
                    <h4> Казань </h4>
                </div>
                <div>
                    <p class="user-info-form">
                        Повседневная практика показывает, что курс на социально-ориентированный национальный проект в значительной степени обуславливает создание системы обучения кадров, соответствующей насущным потребностям.Практический опыт показывает, что новая модель организационной деятельности позволяет оценить значение направлений прогрессивного развития.Таким образом, консультация с профессионалами из IT позволяет выполнить важнейшие задания по разработке позиций, занимаемых участниками в отношении поставленных задач.Практический опыт показывает, что курс на...
                    </p>
                </div>
                <button class="edit-profile-button">редактировать профиль</button>
                <div class="user-rating"> <h4>РЕЙТИНГ 4.7</h4></div>
            </div>

            <div class="user-photo">
            </div>
            <div class="user-right-bar">
                <ul>
                    <li><a href="#">МОЙ ПРОФИЛЬ</a></li>
                    <li><a href="#">ДРУЗЬЯ</a></li>
                    <li><a href="#">СООБЩЕНИЯ</a></li>
                </ul>
            </div>
        </header>
    </div>
}
