@page
@using ProgulkaProject.Service
@model ProgulkaProject.Views.Shared.MetatagsPartialModel
@{
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="style.css">

    @if(ViewBag.Title != null )
    {
        <title>@ViewBag.Titel</title>
    }
    else
    {
        <title>@Config.CompanyName</title>
    }
    @if(ViewBag.Description != null)
    {
        <meta name="description" content="@ViewBag.Description"/>
    }
    @if (ViewBag.Keywords != null)
    {
        <meta name="keywords" content="@ViewBag.Keywords" />
    }
}
