@page
@model ProgulkaProject.Views.Shared.NavigationPartialModel
@{
    <nav class="navigation-bar">
        <div class="nav-items">
            <div class="logo-header">
                <h3>PROGULKA.DA</h3>
            </div>
            <ul class="navigation-button">
                <li><h3>НАСТРОЙКИ</h3></li>
                <li><h3>ПОИСК ДРУГА</h3></li>
                <li><h3>ПОИСК ЛОКАЦИИ</h3></li>
                <li><h3>ВЫХОД</h3></li>
            </ul>
        </div>
    </nav>
}
