<div>
    <h1>Это главная страница!</h1>
    <div class="friend-list-container">
        <div class="friend-list">
            <h3>ДРУЗЬЯ ДАНИИЛА</h3>
            <h5>5 друзей</h5>
            <div class="friends-icons">
                <div class="left-scroll"></div>
                <div class="friend-info">
                    <div class="friend-icon"></div>
                    <h4> Друг Друг </h4>
                    <h5> 21 год </h5>
                    <h5> Казань </h5>
                    <h3> РЕЙТИНГ 4.8</h3>
                </div>
                <div class="friend-info">
                    <div class="friend-icon"></div>
                    <h4> Друг Друг </h4>
                    <h5> 21 год</h5>
                    <h5> Казань </h5>
                    <h3> РЕЙТИНГ 4.8</h3>
                </div>
                <div class="friend-info">
                    <div class="friend-icon"></div>
                    <h4> Друг Друг </h4>
                    <h5> 21 год</h5>
                    <h5> Казань </h5>
                    <h3> РЕЙТИНГ 4.8</h3>
                </div>
                <div class="friend-info">
                    <div class="friend-icon"></div>
                    <h4> Друг Друг </h4>
                    <h5> 21 год</h5>
                    <h5> Казань </h5>
                    <h3> РЕЙТИНГ 4.8</h3>
                </div>
                <div class="right-scroll"></div>
            </div>
        </div>
    </div>

    <div class="visited-places-container">
        <div class="visited-places">
            <h3>Места которые посетил Даниил</h3>
            <div class="visited-places-info">
                <div class="one-visited-place">
                    <div class="visited-place-icon"></div>
                    <h3 class="visited-place-name">Казанский Кремль</h3>
                    <h4> РЕЙТИНГ 3.9 </h4>
                </div>
                <div class="one-visited-place">
                    <div class="visited-place-icon"></div>
                    <h3 class="visited-place-name">Казанская Набережная</h3>
                    <h4> РЕЙТИНГ 3.9 </h4>
                </div>
                <div class="one-visited-place">
                    <div class="visited-place-icon"></div>
                    <h3 class="visited-place-name">Улица Баумана</h3>
                    <h4> РЕЙТИНГ 3.9 </h4>
                </div>
            </div>
        </div>
</div>
